<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'Course Recommender' %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <%- typeof extraCss !== 'undefined' ? extraCss : '' %>
</head>
<body>
    <%- body %>
    
    <script src="/js/script.js"></script>
    <%- typeof extraJs !== 'undefined' ? extraJs : '' %>
</body>
</html>